{%extends 'blank.html'%}
{% block pagetit %}Cart{% endblock pagetit %}
{% block title %}Shoping Cart{% endblock title %}
{% block cart %}{{cart|length}}{% endblock cart %}
{% block sumtotal %}{{sumtotal}}{% endblock  %}
{% block total_cart %}{{cart|length}}{% endblock total_cart %}
{% block prod_cart %}
{% if cart %}
												{%for i in cart%}
												<div class="product-widget">
													<div class="product-img">
														<img src="{{i.products.prod_image.url}}" alt="">
													</div>
													<div class="product-body">
														<h3 class="product-name"><a href="#">{{i.products.product_name}}</a></h3>
														<h4 class="product-price"><span class="qty">{{i.quantity_added}}x</span>${{i.products.product_price}}</h4>
													</div>
													<button class="delete"><i class="fa fa-close"></i></button>
												</div>
												{% endfor %}
												{% else %}
												<div class="product-widget">
													<div class="product-body">
															No item in the Cart
													</div>
													
												</div>
												{% endif %}
{% endblock prod_cart %}
{% block content %}
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table >
                        <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody >
                            {% for i in cart %}
                            <tr scope='row'>
                                <td class="shoping__cart__item">
                                    <h5>{{i.products.product_name}}</h5>
                                </td>
                                <td class="shoping__cart__price">
                                    ${{i.products.product_price}}
                                </td>
                                <td class="shoping__cart__quantity">
                                    <div class="qty-label">
                                        <div class="input-number">
                                            <form action="{% url 'quantitytoggle' prod_id=i.products.id %}" method="post">
                                                {% csrf_token %}
                                                <input type="number" name="quantity" value={{i.quantity_added}}>
                                                <button class="qty-up" type="submit">+</button>
                                                <button class="qty-down" type="submit">-</button>
                                            </form>
                                            
                                        </div>
                                    </div>
                                </td>
                                <td class="shoping__cart__total">
                                    ${{ i.total_amt}}
                                    
                                </td>
                                <form action='{% url "remove-cart" product_id=i.products.id %}' method="post">
                                <td >
                                    {% csrf_token%}
                                    <button class="delete-btn"><i class="fa fa-close"></i></button>
                                </td>
                                </form>
                            </tr>
                            
                            {% endfor %}
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="{% url 'store' %}" class="primary-btn ">CONTINUE SHOPPING</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li>Subtotal <span>${{sumtotal}}</span></li>
                        <li>Total <span>${{sumtotal}}</li>
                    </ul>
                    <a href="{% url 'checkout-page' %}" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->
{% endblock content %}
{% block customjs %}
{% endblock customjs %}

