{%extends 'blank.html'%}
{% block pagetit %}Order{% endblock pagetit %}
{% block title %}Order{% endblock title %}
{% block active-page %}View Order{% endblock active-page %}
{% block cart %}{{cartcount|length}}{% endblock cart %}
{% block wishlist %}{{wishlist|length}}{% endblock wishlist %}
{% block sumtotal %}{{sumtotal}}{% endblock  %}
{% block total_cart %}{{cartcount|length}}{% endblock total_cart %}
{% block prod_cart %}
{% if cartcount %}
												{%for i in cartcount%}
												<div class="product-widget">
													<div class="product-img">
														<img src="{{i.products.prod_image.url}}" alt="">
													</div>
													<div class="product-body">
														<h3 class="product-name"><a href="#">{{i.products.product_name}}</a></h3>
														<h4 class="product-price"><span class="qty">{{i.quantity_added}}x</span>${{i.products.product_price}}</h4>
													</div>
													<button class="delete"><i class="fa fa-close"></i></button>
												</div>
												{% endfor %}
												{% else %}
												<div class="product-widget">
													<div class="product-body">
															No item in the Cart
													</div>
													<button class="delete"><i class="fa fa-close"></i></button>
												</div>
												{% endif %}
{% endblock prod_cart %}
{% block content %}
<section class="shoping-cart spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="shoping__cart__table">
                  <table >
                      <thead>
                          <tr>
                              <th class="shoping__product">Reference number</th>
                              <th>Total</th>
                              <th>Order Status</th>
                              <th>Order Date</th>

                              <th>Details</th>
                              <th>Operations</th>
                          </tr>
                      </thead>
                      <tbody >
                          {% for i in orderdeets %}
                          <tr scope='row'>
                              <td class="shoping__cart__item">
                                  <h5>{{i.trx_refno}}</h5>
                              </td>
                              <td class="shoping__cart__price">
                                ${{ i.trx_totalamt}}
                              </td>
                              <td class="shoping__cart__quantity">
                                {{i.trx_status}}
                              </td>
                              <td class="shoping__cart__total">
                                {{i.trx_date}}


                              </td>
                              <td>
                                <a href='' class='btn btn-outline-primary '>Order Details</a>

                              </td>
                              <form action='{% url "remove-order" order_id=i.id %}' method="post">
                                <td >
                                    {% csrf_token%}
                                    <button class="delete-btn"><i class="fa fa-close"></i></button>
                                </td>
                                </form>
                          </tr>

                          {% endfor %}


                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock content %}

