{% extends 'blank.html' %}
{% block title %}Electro - Profile{% endblock title %}
{% block cart %}{{cartcount|length}}{% endblock cart %}
{% block total_cart %}{{cartcount|length}}{% endblock total_cart %}
{% block sumtotal %}{{sumtotal}}{% endblock  %}
{% block prod_cart %}
{% if cartcount %}
												{%for i in cartcount%}
												<div class="product-widget">
													<div class="product-img">
														<img src="{{i.products.prod_image.url}}" alt="">
													</div>
													<div class="product-body">
														<h3 class="product-name"><a href="#">{{i.products.product_name}}</a></h3>
														<h4 class="product-price"><span class="qty">{{i.quantity_added}}x</span>${{i.products.product_price}}</h4>
													</div>
													<button class="delete"><i class="fa fa-close"></i></button>
												</div>
												{% endfor %}
												{% else %}
												<div class="product-widget">
													<div class="product-body">
															No item in the Cart
													</div>
													<button class="delete"><i class="fa fa-close"></i></button>
												</div>
												{% endif %}
{% endblock prod_cart %}
{% block content %}
  <!-- SECTION -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row" style='justify-content:center;'>
        <div class='col-md-12' >
          <form method='post' enctype="multipart/form-data" class='col-md-8 rounded ' style='box-shadow:1px 1px 3px black;padding:20px;' action='{% url 'profile' %}'>
            <h3 class='text-center'>Update Profile</h3>
            {% csrf_token %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class='form-group'>
              <label for="">{{ form.cust_fname.label}}</label>
                {{ form.cust_fname}}
                {% if form.cust_fname.errors %}
                  <small class='text-danger'>{{form.cust_fname.errors}}</small>
                {% endif %}
            </div>
            <div class='form-group'>
              <label for="">{{ form.cust_lname.label}}</label>
              {{ form.cust_lname}}
              {% if form.cust_lname.errors %}
                  <small class='text-danger'>{{form.cust_lname.errors}}</small>
              {% endif %}
            </div>
            <div class='form-group'>
              <label for="">{{ form.cust_phone.label}}</label>
              {{ form.cust_phone}}
              {% if form.cust_phone.errors %}
                  <small class='text-danger'>{{form.cust_phone.errors}}</small>
                {% endif %}
            </div>
            <div class='form-group'>
              <label for="">{{ form.cust_image.label}}</label>
              {{ form.cust_image}}
              {% if form.cust_image.errors %}
                  <small class='text-danger'>{{form.cust_image.errors}}</small>
              {% endif %}
            </div>
            <div class='form-group'>
              <label for="">{{ form.cust_address.label}}</label>
              {{ form.cust_address}}
              {% if form.cust_address.errors %}
                  <small class='text-danger'>{{form.cust_address.errors}}</small>
              {% endif %}
            </div>
            <button type="submit" class='btn primary-btn'>Update</button>
          </form>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /SECTION -->

{% endblock content %}