{% extends 'form.html' %}
{% block cart %}{{cartcount|length}}{% endblock cart %}
{% block total_cart %}{{cartcount|length}}{% endblock total_cart %}
{% block prod_cart %}
            {%for i in cartcount%}
            <div class="product-widget">
                <div class="product-img">
                    <img src="{{i.product_name.prod_image.url}}" alt="">
                </div>
                <div class="product-body">
                  <h3 class="product-name"><a href="{% url 'product-page' slug=records.slug %}">{{records.product_name}}</a></h3>
                    <h4 class="product-price"><span class="qty">{{i.quantity_added}}x</span>${{i.product_name.product_price}}</h4>
                </div>
                <button class="delete"><i class="fa fa-close"></i></button>
            </div>
            {% endfor %}
{% endblock prod_cart %}
{% block content %}
  <!-- SECTION -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row" style='justify-content:center;'>
        <div class='col-md-6'>
          <form method='post' class='col-md-12 rounded ' style='box-shadow:1px 1px 3px black;padding:20px;' action=''>
            <h4 class='text-center'>Sign Up</h4>
            {% if messages %}
            {% for message in messages %}
                  {% if message.tags %}
                      <div class="alert alert-danger" role="alert">{{ message }}</div>
                  {% else %}
                      <div class="alert alert-success" role="alert">{{ message }}</div>
                  {% endif %}
            {% endfor %}
            {% endif %}
            <div class='form-group'>
                {{ form.cust_fname}}
                {% if form.cust_fname.errors %}
                  <small class='text-danger'>{{form.cust_fname.errors}}</small>
                {% endif %}
            </div>
            <div class='form-group'>
              {{ form.cust_lname}}
              {% if form.cust_lname.errors %}
                  <small class='text-danger'>{{form.cust_lname.errors}}</small>
                {% endif %}
            </div>
            <div class='form-group'>
              {{ form.cust_email}}
              {% if form.cust_email.errors %}
                  <small class='text-danger'>{{form.cust_email.errors}}</small>
                {% endif %}
            </div>
            <div class='form-group'>
              {{ form.cust_phone}}
              {% if form.cust_phone.errors %}
                  <small class='text-danger'>{{form.cust_phone.errors}}</small>
                {% endif %}
            </div>
            <div class='form-group'>
              {{ form.cust_password}}
              {% if form.cust_password.errors %}
                  <small class='text-danger'>{{form.cust_password.errors}}</small>
              {% endif %}
            </div>
            <div class='form-group'>
              {{ form.confirm_password}}
              {% if form.cust_password.errors %}
                  <small class='text-danger'>{{form.cust_password.errors}}</small>
              {% endif %}
              {% csrf_token %}
            </div>
            <button class='btn primary-btn'>Sign Up</button>
          </form>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /SECTION -->

{% endblock content %}