{% extends 'form.html' %}
{% block title %}Electro - Password Reset{% endblock title %}
{% block cart %}{{cartcount|length}}{% endblock cart %}
{% block total_cart %}{{cartcount|length}}{% endblock total_cart %}
{% block wishlist %}{{wishlist|length}}{% endblock wishlist %}
{% block sumtotal %}{{sumtotal}}{% endblock  %}
{% block prod_cart %}
{% if cartcount %}
												{%for i in cartcount%}
												<div class="product-widget">
													<div class="product-img">
														<img src="{{i.products.prod_image.url}}" alt="">
													</div>
													<div class="product-body">
														<h3 class="product-name"><a href="#">{{i.products.product_name}}</a></h3>
														<h4 class="product-price"><span class="qty">{{i.quantity_added}}x</span>${{i.products.product_price}}</h4>
													</div>
													<button class="delete"><i class="fa fa-close"></i></button>
												</div>
												{% endfor %}
												{% else %}
												<div class="product-widget">
													<div class="product-body">
															No item in the Cart
													</div>
													<button class="delete"><i class="fa fa-close"></i></button>
												</div>
												{% endif %}
{% endblock prod_cart %}
{% block content %}
  <!-- SECTION -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class='col-md-6' >
          <h2>Password reset</h2>
          <form method='post' class='col-md-12 rounded justify-content-center ' style='box-shadow:1px 1px 3px black;padding:20px;' action=''>
            {% csrf_token %}
             <div class="form-group">
                 <label for="" class="form-label" >Email Address</label>
                 {{ form.email }}
             </div>
             <div class="form-group">
                 <button class='btn primary-btn' type="submit">Reset my password</button>
             </div>
          </form>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /SECTION -->
{% endblock content %}